.example-container {
  height: 100%;
  background-color: rgb(185, 209, 253);
}

.panel-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.panel-container h6 {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-submission-container {
  background-color: white;
  width: 100%;
}

button {
  margin: 2px;
}
