apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  selector:
    matchLabels:
      app: webapp
      tier: frontend
      track: stable
  replicas: 1
  template:
    metadata:
      labels:
        app: webapp
        tier: frontend
        track: stable
    spec:
      nodeSelector:
        task: core
      containers:
      - name: webapp
        image: gcr.io/fiuba-rpl-2/rpl-web:latest
        resources:
          requests:
            cpu: 10m
            memory: 50Mi