apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  selector:
    matchLabels:
      app: webapp
      tier: frontend
      track: stable
  replicas: 1
  template:
    metadata:
      labels:
        app: webapp
        tier: frontend
        track: stable
    spec:
      containers:
      - name: webapp
        image: gcr.io/rpl2-fiuba/rpl-web:latest
        resources:
          requests:
            cpu: 1m
            memory: 30Mi
