apiVersion: v1
kind: Service
metadata:
  name: webapp
spec:
  selector:
    app: webapp
    tier: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer                # Exposes the service by opening a port on each node